/* main css file for project */

.hero-section {
  background: url("https://images.pexels.com/photos/4554161/pexels-photo-4554161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    50% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.top-bar {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color:rgba(2, 2, 2, 0);
  color: white
  
}

.top-bar, a {
  color: white;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  
}
 .top-bar ul {
  background-color: transparent;
  
}

.top-bar input {
  margin: 0;
}

#citySearch, .placeholder {
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.815);
  color: rgb(118, 118, 118);
}


#citySearchBtn {
  background-color: transparent;
  font-size: 28px;
  border-radius: 25px;
  outline: none;
  padding: 0.5rem;
  
  
}

.hero-section .hero-section-text {
  color: #fefefe;
  margin: 6rem;
}

h1 {
  font-size: 70px;
    
}

#city {
  border: 1px solid;
}


.menu-text {
  font-size: 20px;
}




  

  
  