/* main css file for project */

.hero-section {
  background: url("https://images.pexels.com/photos/4554161/pexels-photo-4554161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    50% no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.top-bar {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: rgba(4, 133, 109, 0);
  color: white
  
}

.top-bar, a {
  color: white;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  
}
 .top-bar ul {
  background-color: transparent;
  
}

.hero-section .hero-section-text {
  color: #fefefe;
}

h1 {
    font-size: 4rem;
    
    
}

#city {
  border: 1px solid;
}
.button {
  border-radius: 10px;
}


.translucent-form-overlay {
  max-width: 500px;
  width: 100%;
  background-color: rgba(4, 133, 109, 0.432);
  padding: 20px;
  color: #fefefe;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(2px);
}

.translucent-form-overlay .columns.row {
  display: block;
}




  

  
  